<form fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" enctype="multipart/form-data"
  [formGroup]="shipmentForm" (ngSubmit)="onSubmit()">
  <h1>New Shipment</h1>
  <div fxLayout="row">
    <mat-form-field id='qInput'>
      <mat-label>
        Quantity
      </mat-label>
      <input matInput type="number" min="0" formControlName="quantity" required>
    </mat-form-field>
    <mat-form-field id='uInput'>
      <mat-placeholder>
        Units
      </mat-placeholder>
      <mat-select formControlName="units" required>
        <mat-option *ngFor="let option of unitOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field id='sInput'>
    <mat-label>Source</mat-label>
    <input matInput formControlName="source" required>
  </mat-form-field>
  <mat-form-field id='dInput'>
    <mat-label>Final Destination</mat-label>
    <input matInput formControlName="destination" required>
  </mat-form-field>
  <h4>Image</h4>
  <input #fileInput type="file" accept="image/*" (change)="onInputFileChange(fileInput)">
  <div fxFlexOffset="20px" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <a mat-raised-button color="warn" (click)="shipmentForm.reset()">Cancel</a>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
  <mat-error>{{errorMessage}}</mat-error>
</form>
