<table>
  <thead>
    <tr>
      <th></th>
      <th>
        Latest
      </th>
      <th>
        Min
      </th>
      <th>
        Max
      </th>
      <th>
        Avg
      </th>
      <th>
        Updated
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataSet of annotatedData">
      <td>{{dataSet.shortLabel | titlecase}}</td>
      <td>{{dataSet.latestReading.value | number : '1.1-2'}}</td>
      <td>{{dataSet.stats.min | number : '1.1-2'}}</td>
      <td>{{dataSet.stats.max | number : '1.1-2'}}</td>
      <td>{{dataSet.stats.avg | number : '1.1-2'}}</td>
      <td>{{dataSet.latestReading.timestamp | date : 'short'}}</td>
    </tr>
  </tbody>
</table>
