<h1 class="text-center">Shipment Details</h1>
<div *ngIf="(shipment$ | async) as shipment; else placeholder" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <!--Product details-->
  <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutGap="20px" fxLayoutGap.xs="10px">
    <app-gallery [images]="shipment.primaryImgUrl ? [shipment.primaryImgUrl].concat(shipment.images) : shipment.images">
    </app-gallery>
    <table>
      <tr>
        <td class="description-label">Product</td>
        <td class="description-cell">{{shipment.productName}}</td>
      </tr>
      <tr>
        <td class="description-label">Description</td>
        <td class="description-cell">{{shipment.description}}</td>
      </tr>
      <tr>
        <td class="description-label">Quantity</td>
        <td class="description-cell">{{shipment.quantity.number}} {{shipment.quantity.units}}</td>
      </tr>
      <tr>
        <td class="description-label">Source</td>
        <td class="description-cell">{{shipment.source}}</td>
      </tr>
      <tr>
        <td class="description-label">Destination</td>
        <td class="description-cell">{{shipment.destination}}</td>
      </tr>
    </table>
  </div>
  <!--Quality tracking data-->
  <app-shipment-data [shipment]="shipment"></app-shipment-data>
  <app-bidding-form [shipment]="shipment"></app-bidding-form>
</div>
<ng-template #placeholder>
  <div fxFill fxLayoutAlign="center center">
    <mat-spinner aria-label="Shipment details loading"></mat-spinner>
  </div>
</ng-template>
