<form [formGroup]="biddingForm" fxLayout="column" fxLayoutAlign="start center" (ngSubmit)="onSubmit()">
  <h2>Make an Offer</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>
          Temp (&deg;C)
        </th>
        <th>
          Amb Temp (&deg;C)
        </th>
        <th>
          Humid
        </th>
        <th>
          VOC
        </th>
        <th>
          Freshness
        </th>
        <th>
          Bid (USD)
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="latestContract; else bReadings">
        <td>
          Current Threshold
        </td>
        <td>{{latestContract.tempThreshold}}</td>
        <td>{{latestContract.ambientTempThreshold}}</td>
        <td>{{latestContract.humidThreshold}}</td>
        <td>{{latestContract.vocThreshold}}</td>
        <td>{{latestContract.freshnessThreshold}}</td>
        <td>{{latestContract.price | currency}}</td>
      </tr>
      <ng-template #bReadings>
        <tr *ngIf="boundaryReadings">
          <td>
            Thresholds Reached
          </td>
          <td>{{boundaryReadings.temp}}</td>
          <td>{{boundaryReadings.ambientTemp}}</td>
          <td>{{boundaryReadings.humid}}</td>
          <td>{{boundaryReadings.voc}}</td>
          <td>{{boundaryReadings.freshness}}</td>
          <td>{{0 | currency}}</td>
        </tr>
      </ng-template>
      <tr>
        <td>
          Your Offer
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Temp</mat-label>
            <input matInput type="number" formControlName="temp">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Amb</mat-label>
            <input matInput type="number" formControlName="ambientTemp">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Humid</mat-label>
            <input matInput type="number" min="0" step="0.01" formControlName="humid">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>VOC</mat-label>
            <input matInput type="number" min="0" step="0.01" formControlName="voc">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Freshness</mat-label>
            <input matInput type="number" min="0" max="1" step="0.01" formControlName="freshness">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Bid</mat-label>
            <input matInput type="number" min="0" step="0.01" formControlName="bid">
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button color="primary" type="submit">Submit</button>
  <mat-error>{{errorMessage}}</mat-error>
  <p>{{successMessage}}</p>
</form>
